::-webkit-scrollbar {
  width: 5px;

}

 
::-webkit-scrollbar-track {
  background: transparent;
}


::-webkit-scrollbar-thumb {
  background: #E0E0E0;
  height: 5px;
}


::-webkit-scrollbar-thumb:hover {
  background: #95A5A6;
}