.title1{
  font-weight: 700;
}

.title2{
  font-size: 20px;
  color: #95A5A6;
  font-weight: 500;
}

.table-u td  p{
  font-weight: 600 ;
}

.table-u td{
  border-bottom: 2px solid #95A5A6 ;
  padding: 7px;
  
  

}

.table-u{
  margin-right: 25px;
  margin-left: 25px;
}


